<div class="container-fluid bg-dark navbar-blue">
    <div class="d-flex justify-content-between">
        <div>
            <img class="logotype" src="/assets/img/logos/13319072.png" alt="imagen">
        </div>
        <div class="d-flex flex-column ">
            <p>FullStack Developer / Devops</p>
            <p class="center">romvargas81@gmail.com</p>
        </div>
        <div class="d-flex flex-row-reverse">
            <a href="#" class="nav-link">Link1</a>
            <a href="#" class="nav-link">Link2</a>
            <a href="#" class="nav-link">Link3</a>
        </div>
    </div>
</div>