* {
    color: rgba(255, 255, 255, 0.80)
}

.logotype {
    width: 30%;
    text-align: left;
    margin: 5px 0 5px 10px;
}

.center{
    padding-left: 15px;
}

p, a{
    position: relative;
}

p{
    top: 5%;
}

a{
    top: 18%
}