@import '~@sweetalert2/themes/dark/dark.scss';

html, body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 419px) {
  html, body {
    font-size: 12px;
  }
}

body {
  color: #212121;
  background: url("./assets/img/logos/whitey.jpg") repeat scroll 0 0 #fff;
  background-size: 220px 220px;
}


.container {
  padding-left: 8px;
  padding-right: 8px;
}
@media (max-width: 767px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}
@media (max-width: 767px) {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}


/* BUTTONS */
.btn {
  border: none;
  padding: 6px 12px;
  border-bottom: 2px solid;
  transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
  outline: none;
  border-radius: 3px;
  background-clip: padding-box;
  width: 100%;
}

.btn-default,
.wizard-cancel,
.wizard-back {
  background-color: #90a4ae;
  border-color: #607d8b;
  color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default,
.wizard-cancel:hover,
.wizard-cancel:focus,
.wizard-cancel:active,
.wizard-cancel.active,
.wizard-back:hover,
.wizard-back:focus,
.wizard-back:active,
.wizard-back.active {
  background-color: #949e9f;
  border-color: #748182;
  color: #fff;
}

.btn-default .caret {
  border-top-color: #FFFFFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #607d8b;
  border-color: #5c6667;
}

.btn-info {
  background-color: #01b9fe;
  border-color: #0298d1;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-color: #0298d1;
  border-color: #0178a5;
}

.btn-link {
  border: none;
}

.btn-primary {
  background-color: #03a9f4;
  border-color: #2980b9;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #2980b9;
  border-color: #1c5c87;
}

.btn-success {
  background-color: #689f38;
  border-color: #444994;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-color: #444994;
}

.btn-danger {
  background-color: #e84e40;
  border-color: #dd191d;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-color: #dd191d;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffa000;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-color: #e0b50a;
  border-color: #bd9804;
}

.btn-facebook {
  background-color: #3b5998 !important;
  border-color: #2f477b !important;
}
.btn-facebook:hover {
  background-color: #2f477b !important;
  border-color: #263963 !important;
}

.btn-twitter {
  background-color: #00aced !important;
  border-color: #0098d1 !important;
}
.btn-twitter:hover {
  background-color: #0098d1 !important;
  border-color: #0283b4 !important;
}

.icon-box {
  margin-top: 5px;
}
.icon-box .btn {
  border: 2px solid #e1e1e1;
  margin-left: 3px;
  margin-right: 0;
}
.icon-box .btn:hover {
  background-color: #eee;
  color: #03a9f4;
}
/***** BUTTONS *********/




label {
  font-weight: 400;
  font-size: 0.875em;
}

input[type="radio"] {
  line-height: normal;
  box-sizing: border-box;
}

/*********** CHECKBOX LOGIN *********/
.checkbox-nice {
  position: relative;
  padding-left: 15px;
}
.checkbox-nice input[type=checkbox] {
  visibility: hidden;
}
.checkbox-nice label {
  padding-top: 3px;
}
.checkbox-nice.checkbox-inline > label {
  margin-left: 16px;
}
.checkbox-nice label:before {
  cursor: pointer;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 1px;
  top: 1px;
  background: #ffffff;
  content: "";
  border: 2px solid #e7ebee;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.checkbox-nice label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 12px;
  height: 7px;
  background: transparent;
  top: 7px;
  left: 6px;
  border: 3px solid #03a9f4;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}
.checkbox-nice label:hover::after {
  opacity: 0.3;
}
.checkbox-nice input[type=checkbox]:checked + label:after {
  opacity: 1;
}
/******CHCKBOX LOGIN *************/

/* LOGIN PAGE */
#login-page {
  background-color: #e7ebee;
}

#login-page-full {
  background-color: #e7ebee;
}

#login-box {
  max-width: 350px;
  min-width: 280px;
  margin: 60px auto 20px;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
@media only screen and (max-width: 767px) {
  #login-box {
    margin-top: 20px;
  }
}
#login-box #login-box-header {
  height: 5px;
}
#login-box #login-box-header > div {
  height: 100%;
  width: 16.6667%;
  float: left;
}
#login-box #login-box-header .login-box-header-red {
  background: #e84e40;
}
#login-box #login-box-header .login-box-header-green {
  background: #8bc34a;
}
#login-box #login-box-header .login-box-header-yellow {
  background: #ffc107;
}
#login-box #login-box-header .login-box-header-purple {
  background: #9c27b0;
}
#login-box #login-box-header .login-box-header-blue {
  background: #03a9f4;
}
#login-box #login-box-header .login-box-header-gray {
  background: #90a4ae;
}

#login-box-inner {
  background: #fff;
  border-radius: 0 0 3px 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border: 1px solid #e1e1e1;
  border-bottom-width: 5px;
  padding: 40px 25px;
}
#login-box-inner.with-heading {
  padding-top: 20px;
}
#login-box-inner h4 {
  margin-top: 0;
  margin-bottom: 10px;
}
#login-box-inner .reset-pass-input {
  padding: 15px 0;
  margin-bottom: 0;
}

#login-logo {
  background: none repeat scroll 0 0 #34495e;
  color: #fff;
  display: block;
  font-size: 2em;
  font-weight: 400;
  padding: 35px 0;
  text-align: center;
  text-transform: uppercase;
}
#login-logo > img {
  display: block;
  height: 40px;
  margin: 0 auto;
}
#login-logo > span {
  display: block;
  font-size: 0.6em;
  font-weight: 300;
  text-transform: none;
}

#login-box .input-group {
  margin-bottom: 10px;
}
#login-box .input-group input {
  font-weight: 300;
}
#login-box .input-group .input-group-addon {
  padding-left: 0;
  padding-right: 0;
  min-width: 50px;
}
#login-box .input-group .input-group-addon i {
  color: black;
}
#login-box #login-forget-link {
  display: block;
  font-size: 0.875em;
  text-align: right;
  margin-top: 3px;
}
#login-box #remember-me-wrapper {
  padding: 10px 0;
}
#login-box .btn {
  font-size: 1.125em;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: uppercase;
  margin-top: 8px;
}
#login-box .form-group {
  margin-bottom: 7px;
}
#login-box .form-group .checkbox label {
  padding-left: 7px;
}
#login-box .form-group .checkbox input {
  margin-left: 0;
}
#login-box .btn-facebook,
#login-box .btn-twitter {
  text-transform: none;
  font-size: 1em;
  margin-bottom: 10px;
}
#login-box .social-text {
  margin: 0;
  padding: 15px 0;
  text-align: center;
  font-size: 0.875em;
}

#login-box-inner .input-group > .form-control,
#login-box-inner .input-group > .input-group-addon {
  height: 46px;
  line-height: 42px;
  padding-top: 0;
  padding-bottom: 0;
}
#login-box-inner .input-group > .input-group-addon {
  height: 44px;
}

#login-box-footer {
  text-align: center;
  font-size: 0.875em;
  margin-top: 10px;
}

#login-full-wrapper #login-box-footer {
  color: #fff;
}
#login-full-wrapper #login-box-footer a {
  color: #fff;
  text-decoration: underline;
}
#login-full-wrapper #login-box-footer a:hover {
  text-decoration: none;
}

#login-page .login-create,
#login-page-full .login-create {
  margin-bottom: 20px;
}

#login-full-wrapper {
  background: url(./assets/img/logos/login-img.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
@media (max-height: 605px) {
  #login-full-wrapper {
    position: relative;
  }
}
@media (max-height: 621px) and (max-width: 767px) {
  #login-full-wrapper {
    position: relative;
  }
}

#login-full-wrapper #login-box {
  border: none;
}

#login-page-full .container {
  max-width: 1440px;
  margin: 0 auto;
}
#login-page-full .login-full-create {
  margin-right: 20px;
  line-height: 50px;
}

#login-full-left {
  margin-top: 50px;
  margin-bottom: 20px;
}
#login-full-left h1 {
  text-align: center;
  color: #363636;
  font-weight: 600;
  margin-bottom: 40px;
}
#login-full-left h2 {
  text-align: center;
  margin-top: 30px;
}
#login-full-left p.login-full-devices {
  margin-top: 30px;
}
#login-full-left .login-full-features {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
#login-full-left .login-full-features > li {
  display: inline-block;
  margin: 0 8px;
}
#login-full-left .login-full-features > li > i {
  display: block;
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 4px;
}
#login-full-left .login-full-features > li > span {
  display: block;
  text-align: center;
  font-size: 0.845em;
  line-height: 1.2;
}

@media (max-height: 605px) {
  #login-full-wrapper.reset-password-wrapper {
    position: absolute;
  }
}
@media (max-height: 505px) {
  #login-full-wrapper.reset-password-wrapper {
    position: relative;
  }
}
/****** LGIN PAGE ***********/

/****** IMPUT GROUPS ********/
.input-group > .form-control,
.input-group > .input-group-addon,
.input-group > .input-group-btn > .btn {
  line-height: 1;
}

.input-group > .input-group-btn > .btn {
  border: 0;
  height: 34px;
}

.input-group-addon {
  background: transparent;
  border-color: #e7ebee;
  border-width: 2px;
}

/****** INPUT GROUP ********/

/* PASSWORD METER */
#pwindicator {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 150px;
}

.pwdindicator .bar {
  height: 4px;
}
.pwdindicator.pw-very-weak .bar {
  background: #fb241f;
  width: 30px;
}
.pwdindicator.pw-very-weak .pwdstrength-label {
  color: #fb241f;
}
.pwdindicator.pw-weak .bar {
  background: #e84e40;
  width: 60px;
}
.pwdindicator.pw-weak .pwdstrength-label {
  color: #e84e40;
}
.pwdindicator.pw-mediocre .bar {
  background: #ffc107;
  width: 90px;
}
.pwdindicator.pw-mediocre .pwdstrength-label {
  color: #ffc107;
}
.pwdindicator.pw-strong .bar {
  background: #f3b31a;
  width: 120px;
}
.pwdindicator.pw-strong .pwdstrength-label {
  color: #f3b31a;
}
.pwdindicator.pw-very-strong .bar {
  background: #8bc34a;
  width: 150px;
}
.pwdindicator.pw-very-strong .pwdstrength-label {
  color: #8bc34a;
}

/* PRICING */
.pricing-package {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pricing-package .pricing-package-inner {
  color: #7d7d7d;
  position: relative;
  transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.pricing-package .pricing-star {
  background: url(./assets/img/logos/pricing-star.png) no-repeat;
  position: absolute;
  width: 39px;
  height: 40px;
  color: #fff;
  font-size: 0.65em;
  text-align: center;
  line-height: 1.1;
  padding-top: 9px;
  right: -10px;
  top: -20px;
}
.pricing-package .package-header {
  background: #03a9f4;
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.pricing-package .package-header h3 {
  line-height: 1;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 20px 0 0;
  border: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 400;
}
.pricing-package .package-header .stars {
  color: #fff;
  text-align: center;
  padding-top: 8px;
  display: none;
}
.pricing-package .package-content {
  padding: 0;
  margin: 0;
  border: 1px solid #e7ebee;
  border-top-color: transparent;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.pricing-package .package-content .package-price {
  font-weight: bold;
  text-align: center;
  height: 80px;
  line-height: 75px;
  background: #03a9f4;
  color: #fff;
  margin: -1px;
  position: relative;
}
.pricing-package .package-content .package-price .package-month {
  font-size: 1em;
  font-weight: normal;
}
.pricing-package .package-content .package-price .price {
  font-size: 4em;
  font-weight: 400;
}
.pricing-package .package-content .package-price .currency {
  font-size: 1.5em;
  font-weight: 600;
}
.pricing-package .package-top-features {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pricing-package .package-top-features li {
  border-bottom: 1px solid #e7ebee;
  text-align: center;
  font-size: 1.125em;
  line-height: 1.5;
  padding: 8px 0;
}
.pricing-package .package-top-features li:first-child {
  border-top: 1px solid #e7ebee;
}
.pricing-package .package-features {
  list-style: none;
  margin: 0 18px;
  padding: 15px 0;
  position: relative;
}
.pricing-package .package-features li {
  font-size: 0.875em;
  padding: 6px 0;
  line-height: 1.3;
  color: #7d7d7d;
  padding-left: 25px;
}
.pricing-package .package-features li.has-feature {
  transition: color 0.1s ease-in-out 0s;
}
.pricing-package .package-features li.has-nofeature {
  text-decoration: line-through;
}
.pricing-package .package-features li.has-feature:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3em;
  text-decoration: inherit;
  color: #8bc34a;
  margin-top: -2px;
  position: absolute;
  left: 0;
  text-decoration: none;
}
.pricing-package .package-features li.has-nofeature:before {
  content: "\f00d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3em;
  text-decoration: inherit;
  color: #e84e40;
  margin-top: -2px;
  position: absolute;
  left: 0;
  text-decoration: none;
}
.pricing-package .package-footer {
  text-align: center;
  padding: 10px 0 25px;
}
.pricing-package .package-footer .btn > span {
  padding-right: 6px;
  transition: color 0.1s ease-in-out 0s;
}
.pricing-package .package-footer .btn:hover > span {
  color: #fff;
}
.pricing-package.simple .package-header h3 {
  font-size: 1.3em;
  padding: 0;
  line-height: 42px;
  height: 42px;
}
.pricing-package.simple .package-content .package-price {
  font-size: 1.8em;
  height: 60px;
  line-height: 60px;
  background: transparent;
  color: inherit;
}
.pricing-package.simple .package-top-features li {
  font-size: 0.875em;
}
.pricing-package.simple .package-top-features li:last-child {
  border-bottom: 0;
}
.pricing-package:hover .pricing-package-inner {
  background-color: #fcfcfc;
  color: #212121;
}
.pricing-package:hover .package-features li.has-feature {
  color: #212121;
}

/* INVOICE */
#invoice-companies {
  border: 1px solid #e7ebee;
  border-left: 0;
  border-right: 0;
  margin: 20px -20px;
}
@media (max-width: 419px) {
  #invoice-companies {
    margin-left: -10px;
    margin-right: -10px;
  }
}
#invoice-companies .invoice-box {
  border-right: 1px solid #e7ebee;
  padding: 25px 20px;
  height: 100%;
  min-height: 165px;
}
@media only screen and (max-width: 767px) {
  #invoice-companies .invoice-box {
    border-bottom: 1px solid #e7ebee;
    border-right: 0;
    border-left: 0;
  }
}
#invoice-companies .invoice-box.invoice-box-dates {
  border-right: 0;
}
@media only screen and (max-width: 767px) {
  #invoice-companies .invoice-box.invoice-box-dates {
    border-bottom: 0;
  }
}
#invoice-companies .invoice-icon {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  color: #e7ebee;
  text-align: center;
}
#invoice-companies .invoice-icon > i {
  font-size: 2.4em;
  display: block;
}
#invoice-companies .invoice-company {
  float: left;
}
#invoice-companies .invoice-company h4 {
  font-size: 1.4em;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #invoice-companies .invoice-dates {
    padding-top: 15px;
  }
}
#invoice-companies .invoice-dates .invoice-date > strong {
  text-transform: uppercase;
  line-height: 28px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #invoice-companies .invoice-dates .invoice-date > strong {
    font-size: 0.875em;
    line-height: 22px;
  }
}
#invoice-companies .invoice-dates .invoice-date > span {
  font-size: 1.3em;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #invoice-companies .invoice-dates .invoice-date > span {
    font-size: 1.1em;
  }
}
#invoice-companies .invoice-dates .invoice-date.invoice-due-date > span {
  font-weight: bold;
}
#invoice-companies .invoice-dates .invoice-number > strong {
  text-transform: uppercase;
  line-height: 48px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #invoice-companies .invoice-dates .invoice-number > strong {
    font-size: 0.875em;
    line-height: 33px;
  }
}
#invoice-companies .invoice-dates .invoice-number > span {
  color: #03a9f4;
  font-size: 1.9em;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #invoice-companies .invoice-dates .invoice-number > span {
    font-size: 1.4em;
  }
}

.invoice-box-total {
  line-height: 1.8;
  border: 1px solid #e7ebee;
  border-right: 0;
  border-left: 0;
  padding: 20px 0;
}
.invoice-box-total .invoice-box-total-label {
  font-size: 1.125em;
}
.invoice-box-total .invoice-box-total-value {
  font-size: 1.125em;
}
.invoice-box-total .grand-total {
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: bold;
}

.invoice-summary {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: -3px;
  margin-right: -3px;
}
.invoice-summary > div {
  padding-left: 3px;
  padding-right: 3px;
}
.invoice-summary .invoice-summary-item {
  background: #dceffc;
  text-align: center;
  padding: 10px 0;
  margin-top: 3px;
  margin-bottom: 3px;
}
.invoice-summary .invoice-summary-item > span {
  font-size: 0.75em;
}
.invoice-summary .invoice-summary-item > div {
  font-size: 1.125em;
}

/* USER PROFILE */
#user-profile h2 {
  padding-right: 15px;
}
#user-profile .profile-status {
  font-size: 0.75em;
  margin-top: -10px;
  padding-bottom: 10px;
  color: #8bc34a;
}
#user-profile .profile-status.offline {
  color: #e84e40;
}
#user-profile .profile-img {
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  margin-bottom: 15px;
}
#user-profile .profile-label {
  text-align: center;
  padding: 5px 0;
}
#user-profile .profile-label.label {
  padding: 5px 15px;
  font-size: 1em;
}
#user-profile .profile-stars {
  color: #FABA03;
  padding: 7px 0;
  text-align: center;
}
#user-profile .profile-stars > i {
  margin-left: -2px;
}
#user-profile .profile-since {
  text-align: center;
  margin-top: -5px;
}
#user-profile .profile-details {
  padding: 15px 0;
  border-top: 1px solid #e7ebee;
  border-bottom: 1px solid #e7ebee;
  margin: 15px 0;
}
#user-profile .profile-details ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
}
#user-profile .profile-details ul > li {
  margin: 3px 0;
  line-height: 1.5;
}
#user-profile .profile-details ul > li > i {
  padding-top: 2px;
}
#user-profile .profile-details ul > li > span {
  color: #03a9f4;
}
#user-profile .profile-header {
  position: relative;
}
#user-profile .profile-header > h3 {
  margin-top: 10px;
}
#user-profile .profile-header .edit-profile {
  margin-top: -6px;
  position: absolute;
  right: 0;
  top: 0;
}
@media only screen and (max-width: 419px) {
  #user-profile .profile-header .edit-profile {
    display: block;
    position: relative;
    margin-bottom: 15px;
  }
}
#user-profile .profile-tabs {
  /* margin-top: 30px; */
}
#user-profile .profile-user-info {
  padding-bottom: 20px;
  padding-top: 10px;
}
#user-profile .profile-user-info .profile-user-details {
  position: relative;
  padding: 4px 0;
}
#user-profile .profile-user-info .profile-user-details .profile-user-details-label {
  width: 110px;
  float: left;
  bottom: 0;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-align: right;
  top: 0;
  width: 110px;
  padding-top: 4px;
}
@media only screen and (max-width: 767px) {
  #user-profile .profile-user-info .profile-user-details .profile-user-details-label {
    float: none;
    position: relative;
    text-align: left;
  }
}
#user-profile .profile-user-info .profile-user-details .profile-user-details-value {
  margin-left: 120px;
}
@media only screen and (max-width: 767px) {
  #user-profile .profile-user-info .profile-user-details .profile-user-details-value {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  #user-profile .profile-social {
    margin-top: 20px;
  }
}
#user-profile .profile-social li {
  padding: 4px 0;
}
#user-profile .profile-social li > i {
  padding-top: 6px;
}
@media only screen and (max-width: 419px) {
  #user-profile .profile-message-btn .btn {
    display: block;
  }
}
#user-profile .table tbody tr td {
  padding-bottom: 20px;
  padding-top: 20px;
}
#user-profile .table tbody tr:first-child td {
  border-top: none;
}

/* NEWSFEED */
#newsfeed .story {
  padding: 40px 0;
  margin: 0 20px;
  border-bottom: 1px solid #e7ebee;
}
#newsfeed .story:last-child {
  border-bottom: 0;
}
@media (max-width: 767px) {
  #newsfeed .story {
    padding: 20px 0;
    margin: 0;
  }
}
#newsfeed .story-user {
  position: absolute;
}
#newsfeed .story-user a {
  display: block;
}
#newsfeed .story-user a img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
@media (max-width: 767px) {
  #newsfeed .story-user a img {
    width: 30px;
    height: 30px;
  }
}
#newsfeed .story-content {
  padding-left: 100px;
  position: relative;
}
@media (max-width: 767px) {
  #newsfeed .story-content {
    padding-left: 40px;
  }
}
#newsfeed .story-content .story-header .story-author {
  font-weight: 300;
}
#newsfeed .story-content .story-header .story-author a {
  font-weight: 400;
}
#newsfeed .story-content .story-header .story-time {
  color: #999;
  font-size: 0.75em;
  position: absolute;
  right: 0px;
  top: 0;
}
@media (max-width: 1170px) {
  #newsfeed .story-content .story-header .story-time {
    position: relative;
    padding-top: 2px;
  }
}
#newsfeed .story-content .story-inner-content {
  color: #6c6f75;
  font-size: 0.85em;
  padding: 12px 0;
}
#newsfeed .story-content .story-footer {
  font-size: 0.85em;
}
#newsfeed .story-content .story-footer .story-comments-link {
  color: #212121;
  margin-right: 10px;
}
#newsfeed .story-content .story-footer .story-comments-link:hover {
  color: #161e1d;
  text-decoration: none;
}
#newsfeed .story-content .story-footer .story-likes-link {
  color: #e84e40;
}
#newsfeed .story-content .story-footer .story-likes-link:hover {
  color: #dd191d;
  text-decoration: none;
}
#newsfeed .map-content {
  width: 100%;
  height: 200px;
}
#newsfeed .story-images .story-image-link {
  display: block;
  width: 50%;
  float: left;
  padding-right: 2px;
}
@media (max-width: 767px) {
  #newsfeed .story-images .story-image-link {
    width: 50%;
  }
}
#newsfeed .story-images .story-image-link-small {
  width: 25%;
  padding-bottom: 2px;
}
@media (max-width: 767px) {
  #newsfeed .story-images .story-image-link-small {
    width: 50%;
  }
}

.widget-users {
  padding: 0 20px;
}
@media (max-width: 767px) {
  .widget-users {
    padding: 0 10px;
  }
}

.conversation-wrapper {
  padding: 10px 20px;
}
@media (max-width: 767px) {
  .conversation-wrapper {
    padding: 10px 5px;
  }
}

/* CONVERSATION */
.conversation-wrapper .conversation-inner {
  padding: 0 0 5px 0;
  margin-right: 10px;
}
.conversation-wrapper .conversation-user {
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  margin-top: 6px;
}
.conversation-wrapper .conversation-item {
  padding: 5px 0;
  position: relative;
}
.conversation-wrapper .conversation-item.item-right .conversation-body {
  background: #dceffc;
}
.conversation-wrapper .conversation-item.item-right .conversation-body:before {
  border-color: transparent transparent transparent #dceffc;
  left: auto;
  right: -12px;
}
.conversation-wrapper .conversation-item.item-right .conversation-user {
  float: right;
}
.conversation-wrapper .conversation-item.item-right .conversation-body {
  margin-left: 0;
  margin-right: 60px;
}
.conversation-wrapper .conversation-body {
  background: #f5f5f5;
  font-size: 0.875em;
  width: auto;
  margin-left: 60px;
  padding: 8px 10px;
  position: relative;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.conversation-wrapper .conversation-body:before {
  border-color: transparent #f5f5f5 transparent transparent;
  border-style: solid;
  border-width: 6px;
  content: "";
  cursor: pointer;
  left: -12px;
  position: absolute;
  top: 25px;
}
.conversation-wrapper .conversation-body > .name {
  font-weight: 600;
  font-size: 1.125em;
}
.conversation-wrapper .conversation-body > .time {
  position: absolute;
  font-size: 0.875em;
  right: 10px;
  top: 0;
  margin-top: 10px;
  color: #605f5f;
  font-weight: 300;
}
.conversation-wrapper .conversation-body > .time:before {
  content: "\f017";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-top: 4px;
  font-size: 0.875em;
}
.conversation-wrapper .conversation-body > .text {
  padding-top: 6px;
}
.conversation-wrapper .conversation-new-message {
  padding-top: 10px;
}

/* RECENT - USERS */
.widget-users {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget-users li {
  border-bottom: 2px solid #ebebeb;
  padding: 15px 0;
  height: 96px;
}
.widget-users li > .img {
  float: left;
  margin-top: 8px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.widget-users li > .details {
  margin-left: 60px;
}
.widget-users li > .details > .name {
  font-weight: 600;
}
.widget-users li > .details > .name > a {
  color: #212121;
}
.widget-users li > .details > .name > a:hover {
  color: #03a9f4;
}
.widget-users li > .details > .time {
  color: #03a9f4;
  font-size: 0.75em;
  padding-bottom: 7px;
}
.widget-users li > .details > .time.online {
  color: #8bc34a;
}

/* INFOGRAPHIC BOX */
.infographic-box {
  padding: 20px;
}
.infographic-box i {
  font-size: 2.4em;
  display: block;
  float: left;
  margin-right: 15px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  color: #fff;
}
.infographic-box .headline {
  display: block;
  font-size: 1.2em;
  font-weight: 300;
  text-align: right;
}
.infographic-box .value {
  font-size: 2.1em;
  font-weight: 600;
  margin-top: -5px;
  display: block;
  text-align: right;
}
.infographic-box.merged {
  border-top: 2px solid #e7ebee;
  border-right: 2px solid #e7ebee;
  width: 50%;
}
@media (max-width: 767px) {
  .infographic-box.merged {
    width: 100%;
    border-right: none;
  }
}
.infographic-box.merged .headline {
  text-align: left;
  font-size: 0.8em;
  margin-top: -2px;
  text-transform: uppercase;
  font-weight: 600;
}
.infographic-box.merged .value {
  text-align: left;
  font-size: 1.8em;
  font-weight: 400;
  margin-top: 2px;
}
.infographic-box.merged.merged-top {
  border-top: none;
}
.infographic-box.merged.merged-right {
  border-right: none;
}
@media (max-width: 767px) {
  .infographic-box.merged.merged-top.merged-right {
    border-top: 1px solid #e7ebee;
  }
}
.infographic-box.colored {
  color: #fff;
  border: 0 !important;
}
.infographic-box.colored i {
  font-size: 4.6em;
  margin-left: 7px;
  color: #fff;
}
.infographic-box.colored .headline {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 4px;
}

/* RECENT - PRODUCTS */
.widget-products {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget-products li {
  border-bottom: 2px solid #ebebeb;
}
.widget-products li > a {
  height: 88px;
  display: block;
  width: 100%;
  color: #212121;
  padding: 3px 10px;
  position: relative;
  transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
}
@media only screen and (max-width: 440px) {
  .widget-products li > a {
    height: auto;
    padding-bottom: 10px;
  }
}
.widget-products li > a:hover {
  color: #212121;
  text-decoration: none;
  background-color: #f6f6f6;
}
.widget-products li > a:after {
  content: "\f138";
  font-family: FontAwesome;
  font-size: 0.875em;
  font-style: normal;
  font-weight: normal;
  margin-top: 32px;
  position: absolute;
  right: 10px;
  text-decoration: inherit;
  top: 0;
  color: #cccccc;
  font-size: 1.3em;
}
@media only screen and (max-width: 440px) {
  .widget-products li > a:after {
    display: none;
  }
}
.widget-products li .img {
  display: block;
  float: left;
  text-align: center;
  width: 70px;
  height: 68px;
  overflow: hidden;
  margin-top: 7px;
}
.widget-products li .product {
  display: block;
  margin-left: 90px;
  margin-top: 19px;
}
.widget-products li .product > .name {
  display: block;
  font-weight: 600;
  padding-bottom: 7px;
}
.widget-products li .product > .price {
  display: block;
  text-decoration: none;
  width: 50%;
  float: left;
  font-size: 0.875em;
}
@media only screen and (max-width: 440px) {
  .widget-products li .product > .price {
    width: 100%;
  }
}
.widget-products li .product > .price > i {
  color: #8bc34a;
}
.widget-products li .product > .warranty {
  display: block;
  text-decoration: none;
  width: 50%;
  float: left;
  font-size: 0.875em;
}
@media only screen and (max-width: 440px) {
  .widget-products li .product > .warranty {
    clear: both;
    width: 100%;
  }
}
.widget-products li .product > .warranty > i {
  color: #ffc107;
}

/* RECENT - TODO */
.widget-todo {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget-todo > li {
  border-bottom: 2px solid #ebebeb;
  padding: 10px 5px;
}
.widget-todo > li:hover {
  background-color: #f8f8f8;
}
.widget-todo > li input:checked + label {
  text-decoration: line-through;
}
.widget-todo .name {
  float: left;
}
.widget-todo .name span.label {
  margin-left: 5px;
}
.widget-todo .actions {
  float: right;
  padding-right: 5px;
  padding-top: 2px;
}
.widget-todo .actions > a {
  margin: 0 2px;
  color: #707070;
}
.widget-todo .actions > a.badge {
  color: #fff;
}
.widget-todo .actions > a:hover {
  text-decoration: none;
  color: #03a9f4;
}
.widget-todo .actions > a.badge:hover {
  background-color: #fff;
}
.widget-todo .actions > a > i {
  font-size: 1.125em;
}

.xs-graph .graph-label {
  font-size: 0.875em;
  padding-bottom: 5px;
  color: #616161;
}

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 3px;
  border: 0 !important;
  background: rgba(0, 0, 0, 0.7) !important;
  opacity: 1;
}

#flot-tooltip {
  position: absolute;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(230, 230, 230, 0.8);
  border-radius: 10px;
  color: #666;
  font-family: sans-serif;
  font-size: 12px;
  padding: 6px;
  text-align: center;
}

#flot-tooltip span {
  display: block;
}

#flot-tooltip b {
  font-weight: bold;
  margin: 0.25em 0;
  color: #666;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}

#flot-tooltip i {
  margin: 0.1em 0;
  white-space: nowrap;
  color: #666;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  font-style: normal;
}

.legend .legendColorBox > div {
  margin-right: 7px;
  border: none !important;
}

.graph-stats {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.graph-stats li {
  padding: 0;
}
.graph-stats li .title {
  color: #3b3b3b;
  margin-top: 12px;
  font-size: 0.875em;
}
.graph-stats li .value {
  color: #3b3b3b;
  font-size: 1.6em;
  font-weight: 300;
}
.graph-stats li .value > .fa {
  font-size: 0.6em;
}
.graph-stats li .value .tooltip {
  font-weight: 400;
}
.graph-stats li .progress {
  height: 5px;
}

/* GRAPH BOX */
.graph-box {
  padding: 15px 15px;
  border-radius: 3px 0 0 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.graph-box h2 {
  color: #fff;
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: 10px;
  margin-left: 10px;
}
.graph-box .graph .morris-hover.morris-default-style {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 6px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  color: #999;
}

.graph-nice-legend {
  padding-left: 15px;
  padding-top: 65px;
}
@media (max-width: 1199px) {
  .graph-nice-legend {
    padding-left: 0;
  }
}
@media (max-width: 991px) {
  .graph-nice-legend {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
  }
}
.graph-nice-legend .graph-legend-row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.graph-nice-legend .graph-legend-name {
  display: block;
  font-size: 1.2em;
  font-weight: 300;
}
.graph-nice-legend .graph-legend-value {
  display: block;
  font-size: 2.1em;
  font-weight: 600;
  /* color: $primary-color; */
}
@media (max-width: 991px) {
  .graph-nice-legend .graph-legend-row-inner {
    padding: 0 20px;
  }
}

/* SMALL GRAPH BOX */
.small-graph-box {
  padding: 20px;
  color: #fff;
  border: 0 !important;
}
.small-graph-box .headline {
  display: block;
  font-size: 0.875em;
  font-weight: 400;
  margin-top: -5px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.small-graph-box .value {
  display: block;
  font-size: 1.9em;
  font-weight: 600;
  margin-top: -5px;
}
.small-graph-box .progress {
  background: rgba(0, 0, 0, 0.2);
  height: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.small-graph-box .progress .progress-bar {
  background-color: #fff;
}
.small-graph-box .subinfo {
  display: block;
  font-size: 0.8em;
  padding-top: 5px;
}
.small-graph-box .subinfo i {
  font-size: 1.2em;
}

/* CHART SMALL */
.dashboard-stats {
  margin: 20px -20px -20px;
}
@media (max-width: 419px) {
  .dashboard-stats {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -12px;
  }
}

.chart-small {
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  outline: none;
  padding: 15px 0;
  display: block;
  text-decoration: none;
  color: #212121;
  transition: background-color 0.1s ease-in-out 0s;
}
.chart-small:last-child, .chart-small.last {
  border-right: 0;
}
@media (max-width: 767px) {
  .chart-small:nth-child(2) {
    border-right: 0;
  }
}
.chart-small:hover {
  background-color: #f9f9f9;
  text-decoration: none;
  color: #212121;
}
.chart-small .headline {
  font-weight: 600;
  font-size: 0.75em;
  padding: 0 20px;
  margin-bottom: -5px;
}
.chart-small .value {
  font-weight: 600;
  font-size: 1.9em;
  padding: 0 20px;
}
@media (max-width: 419px) {
  .chart-small .value {
    font-size: 1.6em;
  }
}

.chart-small-content {
  max-height: 100px;
  height: 50px;
  padding: 0px;
  margin: 20px 20px 0;
  position: relative;
}

/* SOCIAL BOX */
.social-box-wrapper {
  box-shadow: 1px 1px 2px 0 #cccccc;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  margin-bottom: 16px;
  overflow: hidden;
}

.social-box {
  color: #fff;
  padding: 15px;
  font-weight: 300;
  transition: background-color 0.15s ease-in-out 0s;
}
.social-box .social-count {
  float: left;
  display: block;
  font-size: 1.8em;
  font-weight: 400;
}
.social-box .social-action {
  float: left;
  display: block;
  font-size: 1.2em;
  margin-left: 5px;
  margin-top: 9px;
}
.social-box .social-name {
  display: block;
  font-size: 0.875em;
  padding-top: 4px;
}
.social-box > i {
  font-size: 3.4em;
  text-align: right;
  display: block;
}
.social-box.facebook {
  background: #3b5998;
}
.social-box.facebook:hover {
  background-color: #2f477b;
}
.social-box.twitter {
  background: #55acee;
}
.social-box.twitter:hover {
  background-color: #4091ce;
}
.social-box.google {
  background: #dd4b39;
}
.social-box.google:hover {
  background-color: #c43a2a;
}
