@import "./../../../pages/admin.component.scss";

.btn-primary {
    color: #dae0e5;
    background-color: #212529;
    border-color: #00ff83;
}

.shadow{
    -webkit-box-shadow: 25px 24px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 25px 24px 22px 1px rgba(0,0,0,0.75);
    box-shadow: 25px 24px 22px 1px rgba(0,0,0,0.75);
}